* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* NAV E INDEX */

.bodyIndex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav nav nav nav"
                          "header header header header"
                         "main main main main"
                        "footer footer footer footer";
}

.main{
    grid-area: main;

}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}

.bodyIndex {
    background: 
    #0a141d;
}

.encabezado {
background-image: url(https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/38/4000x2000/landscape-1474387477-hbz-cara-puma-index2.jpg?resize=1200:*);  
  background-attachment: fixed;
    width: 100%;
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.encabezado2 h1 {
    color: white;
    font-size: 50px;
   
}



.trending {
    color: white;
    font-size: 50px;
    text-align: center;
    letter-spacing: 15px;
    margin: 25px;
   
}

.btnHome {
    width: 200px;
    padding: 10px 30px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 50px;
    font-weight: bold;
    margin: 10px;
    font-size: 15px;
    transition: 0.3s;
}

.btnHome:hover{
    background-color: transparent;
    color: #4551b5;
    border: solid 1px;
}


.tarjeta {

    text-align: center;
    width: 350;
    gap: 15px;
    margin: 15px;
    padding: 20px;

}

.tarjetas {
    display: flex;
    justify-content: space-around;
    margin: 25px;


}



.textos {
    width: 510px;
    color: white;

}

.titulotarjeta {
    margin: 10px;
}

.footerpie {
    background-color: #4551b5;

}

.zapas {
    transition: 0.2s;
    width: 450px;
    
}

.zapas:hover {
    transform: scale(1.2);
}



/* FIN NAV E INDEX */

/* Footer */

.pie-pagina{
    width: 100%;
    background-color: #4551b5;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a141d;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/* FooterFin */

/* CONTACT */



.bodyContact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 850px auto;
    grid-template-areas: "nav    nav    nav     nav"
                         "header header header header"
                          " main   main   main   main"
                          "footer footer footer footer";
    background-color: #0a141d;

}

.caja{
    padding:  50px 50px 50px 50px;
 
}

.mainContact {
    display: flex;
    justify-content: center;
    grid: main;
}


.headerContact {
    grid-area: header;

}
.spanus{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 90px;
    color: #333;
}
.contactTitulo {
    display: flex;
    justify-content: center;
    text-align: center;
    
    font-weight: bolder;
    font-size: 90px;
    color: white;
    margin: 15px;
    font-family: 'Quicksand', sans-serif;
}


footer {

    grid-area: footer;
}

.btnForm {
    margin-top: 15px;
    height: 100px;
    background: linear-gradient(102deg, #4551b5 40%, #543fd7 60%);
    font-size: 20px;
    font-style: italic;
    border: none;
    color: white;
    cursor: pointer;
display: inline-block;
border-radius: .25rem;
min-width: 200px;
text-decoration: none;
box-shadow: 0 0 0 0 rgba(0, 0, 0, 5);
animation: pulse 1.5s infinite;
}

@keyframes pulse{
    0% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
    }
    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
    
}

.form label {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 10px;
}
.form label input:focus {
    outline-style: none;

}

.form label textarea:focus {
    outline-style: none;

}
.form {
    color: #fff;

    background-color: rgba(255, 255, 255, 0.107);
    border-radius: 5%;
    width: 850px;
    height: 820px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 50px;
    grid-template-areas: "nombre apellido"
        "email    email"
        "mensaje mensaje"
        "enviar enviar";
}


.form label:nth-child(1) {
    grid-area: nombre;
}

.form label:nth-child(2) {
    grid-area: apellido;
}

.form label:nth-child(3) {
    grid-area: email;
}

.form label:nth-child(4) {
    grid-area: mensaje;

}

.controls {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: rgb(63, 94, 251) 1px solid;
    margin-bottom: 15px;
}


/* CONTACT */

/* AboutUs */

.bodyAboutus {
    background-color: #0a141d;


}

.encabezadoAboutus {
    text-align: center;
    margin-top: 150px;
    font-size: 25px;


}

.principal1 {
    margin: 5px;
    font-size: 90px;
    color: white;
}

.principal2 {
    margin: 5px;
    font-style: italic;
    color: #9b1222;
}

.principal3 {
    margin-top: 15px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    width: 250px;
    transition: 0.3s;

}

.principal3:hover{
    background: #fff;
    color: #000;
}

.principal4 {
    margin-top: 15px;
    font-size: 60px;
    color: white;
    letter-spacing: 5px;

}

.tarjetaPadre {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.bloquenegro {
    width: 325px;
}

.tarjetasHijo {
    text-align: center;
    border: solid;


}

.textosTarjetaA {
    margin: 10px;
    width: 300px;
}

.tituloTarjetaA {
    margin: 15px;
    color: white;
    font-size: 35px
}

.iconos-divA {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    ;
}

/* About us FIN */

/* APP */

.bodyApp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav nav nav nav"
                          "header header header header"
                         "main main main main"
                        "footer footer footer footer";
    background-color: #0a141d;

}

main{
    grid-area: main
}


.tituloApp {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: white;
    font-style: italic;

}
.AppUs{
    color: #b70e21;
}

.installbtn {
    width: 350px;
    height: 115px;
    font-size: 30px;
border-radius: 15px;
color: white;

background: linear-gradient(90deg, rgba(175,175,175,1) 0%, rgba(140,140,140,1) 100%);

    border: solid #000;
animation: pulse 1.5s infinite;

}

.parrafoInstall {
    color: white;
    width: 350px;
    text-align: center;
    margin-top: 20px;

}

.botonyparrafo {
    margin-left: 150px;
    margin-top: 200px;

}

.mainApp {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.videoapp {
    margin-top: 110px;
}

.bodyMerch {
    background-color: #0a141d;
}

