* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* NAV E INDEX */

.bodyIndex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav nav nav nav"
                          "header header header header"
                         "main main main main"
                        "footer footer footer footer";
    ;
}

.main{
    grid-area: main;
}
.nav .fa-bars {
    display: none;
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
.nav {

    grid-area: nav;
    background: linear-gradient(90deg, rgba(162,120,184,1) 0%, rgba(149,0,255,1) 100%);

    
    font-size: large;
    height: 60px;
    padding: 19px;

}

nav ul {
    display: flex;
    justify-content: end;
    list-style-type: none;
}

.nav>ul>li>a {
    text-decoration: none;
    color: white;

}



.link {


    padding-left: 45px;
    padding-right: 45px;

}

.link:hover {
    border-radius: 15px;
    background: rgb(73, 34, 79);
    transition: background-color .5s;

}



.bodyIndex {
    background-color: rgb(189, 189, 189);
}

.encabezado {
background-image: url(https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/38/4000x2000/landscape-1474387477-hbz-cara-puma-index2.jpg?resize=1200:*);  
  background-attachment: fixed;
    width: 100%;
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.encabezado2 h1 {
    color: white;
    font-size: 50px;
   
}




.trending {
    color: #000;
    font-size: 50px;
    text-align: center;
    letter-spacing: 15px;
    margin: 25px;
   
}

.btn {
    width: 200px;
    padding: 10px 30px;
    background-color: #a278b8;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
    font-size: 15px;
}




.tarjeta {

    border-radius: 50px;
    text-align: center;
    width: 350;
    gap: 15px;
    margin: 15px;
    padding: 20px;

}

.tarjetas {
    display: flex;
    justify-content: space-around;
    margin: 25px;

}



.textos {
    width: 510px;

}

.titulotarjeta {
    margin: 10px;
}

.footer {
    background-color: #a278b8;

}

.zapas {
    border-radius: 50px;
    transition: 0.2s;
}

.zapas:hover {
    transform: scale(1.2);
}



/* FIN NAV E INDEX */

/* Footer */

.formfooter{
    margin-left: 100px;
}
.news{margin-left: 100px;}
.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background-color: #333;
    color: #efefef;
    display: flex;
    justify-content: center;

}

.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.formfooter input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;

}
.formfooter button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.formfooter button:hover{
    background-color: white;
    color: #000;
    transition: 0.3s;

}

.social-icons{
    margin-top: 30px;

}

.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    
}



/* FooterFin */

/* CONTACT */



.bodyContact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav    nav    nav     nav"
                         "header header header header"
                          " main   main   main   main"
                          "footer footer footer footer";
    background-color: #a278b8a9;

}

.mainContact {
    display: flex;
    justify-content: center;
    grid: main;
}

.headerContact {
    grid-area: header;

}
.spanus{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 90px;
    color: #333;
}
.contactTitulo {
    display: flex;
    justify-content: center;
    text-align: center;
    
    font-weight: bolder;
    font-size: 90px;
    color: white;
    margin: 15px;
    font-family: 'Quicksand', sans-serif;
}

.caja1 {
    display: flex;
    justify-content: center;
margin-left: 630px;
}

footer {

    grid-area: footer;
}

.btnForm {
    height: 100px;
    background: rgb(63, 94, 251);
    font-size: 20px;
    font-style: italic;
    border: none;
    color: white;
    cursor: pointer;

}

.form label {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 10px;
}
.form label input:focus {
    outline-style: none;

}

.form label textarea:focus {
    outline-style: none;

}
.form {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.107);
    border-radius: 5%;
    width: 850px;
    height: 700px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 50px;
    grid-template-areas: "nombre apellido"
        "email    email"
        "mensaje mensaje"
        "enviar enviar";
}


.form label:nth-child(1) {
    grid-area: nombre;
}

.form label:nth-child(2) {
    grid-area: apellido;
}

.form label:nth-child(3) {
    grid-area: email;
}

.form label:nth-child(4) {
    grid-area: mensaje;

}

.controls {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: rgb(63, 94, 251) 1px solid;
    margin-bottom: 15px;
}

@media (max-width:768px) {
    .form {
        width: 500px;
        height: 700px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 800px;
        grid-template-areas: "nombre"
            "apellido"
            "email"
            "mensaje"
            "enviar";
    }

    .nav {
        display: flex;
        justify-content: start;
        align-items: none;
    }

    .nav .fa-bars {
        display: block;

    }

    .nav ul {
        display: none;
    }
}

/* CONTACT */

/* AboutUs */

.bodyAboutus {
    background-color: #a278b8a9;


}

.encabezadoAboutus {
    text-align: center;
    margin-top: 150px;
    font-size: 25px;


}

.principal1 {
    margin: 5px;
    font-size: 90px;
    color: white;
}

.principal2 {
    margin: 5px;
    font-style: italic;
    color: #333;
}

.principal3 {
    margin-top: 15px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    width: 250px;
    transition: 0.3s;

}

.principal3:hover{
    background: #fff;
    color: #000;
}

.principal4 {
    margin-top: 15px;
    font-size: 60px;
    color: white;
    letter-spacing: 5px;

}

.tarjetaPadre {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.bloquenegro {
    width: 325px;
}

.tarjetasHijo {
    text-align: center;
    border: solid;


}

.textosTarjetaA {
    margin: 10px;
    width: 300px;
}

.tituloTarjetaA {
    margin: 15px;
    color: white;
    font-size: 35px
}

.iconos-divA {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    ;
}

/* About us FIN */

/* APP */

.bodyApp {
    background-color: #a278b8a9;

}

.tituloApp {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: white;
    font-style: italic;

}

.installbtn {
    width: 350px;
    height: 115px;
    font-size: 30px;

    background-color: #a278b8;
    border: solid #000;
}

.parrafoInstall {
    width: 350px;
    text-align: center;
    margin-top: 15px;
}

.botonyparrafo {
    margin-left: 150px;
    margin-top: 200px;

}

.mainApp {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.videoapp {
    margin-top: 110px;
}

.bodyMerch {
    background-color: rgb(189, 189, 189);
}

.merchandising {
    text-align: center;
    font-size: 60px;
    color: white;
    font-style: italic;
    margin-top: 50px;
    text-decoration: overline rgb(63, 94, 251);
    
}

.productosPadre {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.bloqueMerch {
    width: 250px
}

.productosHijo {
    text-align: center;
    align-items: center;
    border: solid #a278b8;
    padding: 30px;
}

.textoMerch {
    margin: 10px;
    color: white;
    width: 250px;
}

.textosMerch {
    font-size: 20px;
    width: 200px;
}

.parrafoMerch {
    width: 250px;
}