
/***************************** APP *****************************/

.bodyApp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav nav nav nav"
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    background-color: #0a141d;

}

footer{
    grid-area: footer;
}

main {
    grid-area: main
}


.tituloApp {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: white;
    font-style: italic;

}

.AppUs {
    color: #b70e21;
}

.installbtn {
    width: 350px;
    height: 115px;
    font-size: 30px;
    border-radius: 15px;
    color: white;
    background: linear-gradient(90deg, rgba(175, 175, 175, 1) 0%, rgba(140, 140, 140, 1) 100%);
    border: solid #000;
    animation: pulse 1.5s infinite;

}

.parrafoInstall {
    color: white;
    width: 350px;
    text-align: center;
    margin-top: 20px;

}

.botonyparrafo {
    margin-left: 150px;
    margin-top: 200px;

}

.mainApp {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.videoapp {
    margin-top: 110px;
}

/***************************** APP FIN *****************************/
