.bodyIndex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav nav nav nav" "header header header header" "main main main main" "footer footer footer footer";
  }
  
  main {
    grid-area: main;
  }
  
  header {
    grid-area: header;
  }
  
  nav {
    grid-area: nav;
  }
  
  .bodyIndex {
    background: #0a141d;
  }
  
  .encabezado {
    background-image: url(https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/38/4000x2000/landscape-1474387477-hbz-cara-puma-index2.jpg?resize=1200:*);
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sneakers {
    color: white;
    font-size: 50px;
    text-align: center;
    letter-spacing: 15px;
    margin: 25px;
  }
  
  .btnHome {
    width: 200px;
    padding: 10px 30px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 50px;
    font-weight: bold;
    margin: 10px;
    font-size: 15px;
    transition: 0.3s;
    &:hover{
        background-color: transparent;
        color: #4551b5;
      }
  }
  

  
  .tarjeta {
    text-align: center;
    width: 350;
    gap: 15px;
    margin: 15px;
    padding: 20px;
  }
  
  .tarjetas {
    display: flex;
    justify-content: space-around;
    margin: 25px;
  }
  
  .textos {
    width: 510px;
    color: white;
  }
  
  .titulotarjeta {
    margin: 10px;
  }
  
  .zapas {
    transition: 0.2s;
    width: 450px;
    &:hover{
        transform: scale(1.2);
    }
  }
